body {
  background-image: url("../img/background.png");
  background-repeat:no-repeat;
  background-size:cover;
}

.interactive {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #929292;
}

#header {
  margin-top: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#aim {
  top: 250px;
}

#solution {
  top: 280px;
}

#success {
  top: 310px;
}

#button1 {
  background-image:url("../img/button1.png");
}

#button1:hover {
  background-image: url("../img/button1_hover.png");
}

#button1.active {
  background-image: url("../img/button1_active.png");
}

#button2 {
  background-image: url("../img/button2.png");
}

#button2:hover {
  background-image: url("../img/button2_hover.png");
}

#button2.active {
  background-image: url("../img/button2_active.png");
}

#button3 {
  background-image: url("../img/button3.png");
}

#button3:hover {
  background-image: url("../img/button3_hover.png");
}

#button3.active {
  background-image: url("../img/button3_active.png");
}

#button4 {
  background-image: url("../img/button4.png");
}

#button4:hover {
  background-image: url("../img/button4_hover.png");
}

#button4.active {
  background-image: url("../img/button4_active.png");
}

#body {
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

#buttons {
  position: relative;
  left: 50%;
}

#buttons {
  display: block;
  position: relative;
  margin-top: 265px;
  margin-left: auto;
  margin-right: auto;
}

.button, button.active {
  height: 129px;
  width: 259px;
  display:block;
  background-repeat:no-repeat;
  background-size:cover;
  margin-left:40px;
  margin-right: 40px;
  position: relative;
  float: left;
}